/* prettier-ignore */
:root {
  --rosewater: #F5E0DC;
  --flamingo: #F2CDCD;
  --pink: #F5C2E7;
  --mauve: #CBA6F7;
  --red: #F38BA8;
  --maroon: #EBA0AC;
  --peach: #FAB387;
  --yellow: #F9E2AF;
  --green: #A6E3A1;
  --teal: #94E2D5;
  --sky: #89DCEB;
  --sapphire: #74C7EC;
  --blue: #89B4FA;
  --lavender: #B4BEFE;
  --text: #CDD6F4;
  --subtext1: #BAC2DE;
  --subtext0: #A6ADC8;
  --overlay2: #9399B2;
  --overlay1: #7F849C;
  --overlay0: #6C7086;
  --surface2: #585B70;
  --surface1: #45475A;
  --surface0: #313244;
  --base: #1E1E2E;
  --mantle: #181825;
  --crust: #11111B;
  --main: #10151D;
}

QPushButton {
  outline: none;
}

* {
  font-size: 10px;
  color: var(--text);
  font-weight: 700;
  font-family: 'JetBrainsMono NFP';
}

.yasb-bar {
  padding: 0;
  margin: 0;
  /* HACK: get the bar's context menu working while keeping the background-color transparent
   */
  background-color: rgba(0, 0, 0, 0.005);
}

.widget .icon {
  font-size: 14px;
}

.widget .label {
  color: var(--text);
}

.tooltip {
  font-family: 'JetBrainsMono NFP';
  font-weight: 600;
  font-size: 10px;
  color: var(--text);
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  padding: 4px;
  border-radius: 6px;
  margin-top: 0px;
}

/*
 * ─[ Context Menu ]─────────────────────────────────────────────────────
*/
.context-menu,
.context-menu .menu-checkbox {
  background-color: var(--crust);
  border-radius: 6px;
  padding: 2px;
  font-family: 'JetBrainsMono NFP';
  font-size: 10px;
  color: var(--text);
}

.context-menu::right-arrow {
  width: 8px;
  height: 8px;
  padding-right: 8px;
}

.context-menu::item,
.context-menu .menu-checkbox {
  padding: 4px;
  border-radius: 6px;
}

.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
  background-color: var(--base);
  color: var(--text);
}

.context-menu::separator {
  height: 1px;
  background-color: var(--surface0);
  margin: 4px 4px;
}
.context-menu::item:disabled {
  color: var(--overlay0);
  background-color: transparent;
}

.context-menu .menu-checkbox .checkbox {
  border: none;
  padding: 4px 8px;
  font-size: 10px;
  margin: 0;
  color: var(--text);
  font-family: 'JetBrainsMono NFP';
}

.context-menu .submenu::item:disabled {
  margin: 0;
  padding-left: 8px;
}

.context-menu .menu-checkbox .checkbox:unchecked {
  color: var(--surface0);
}

.context-menu .menu-checkbox .checkbox::indicator {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.context-menu .menu-checkbox .checkbox::indicator:unchecked {
  background: var(--surface0);
}

.context-menu .menu-checkbox .checkbox::indicator:checked {
  background: var(--sky);
}

.context-menu .menu-checkbox .checkbox:focus {
  outline: none;
}

.context-menu::item:checked {
  background-color: blue;
  color: white;
}

/*
 * ─[ GlazeWM Grouper ]──────────────────────────────────────────────────
*/
.glazewm-grouper .container {
  background-color: var(--surface0);
  border: 1px solid var(--surface2);
  border-radius: 6px;
  padding: 0 4px;
  margin-right: 4px;
}

/*
 * ─[ Quick Launch Widget ]──────────────────────────────────────────────
*/
.quick-launch-widget .icon {
  font-size: 11px;
  padding: 0 2px;
  color: var(--sapphire);
}

.quick-launch-widget .icon:hover {
  color: var(--lavender);
}

/* Quick Launch Popup - main window */
.quick-launch-popup .container {
  background-color: var(--base);
  border: 1px solid var(--surface0);
  border-radius: 8px;
}

/* Search bar container */
.quick-launch-popup .search {
  padding: 8px 12px;
  background-color: transparent;
  border-bottom: 1px solid var(--surface2);
}

/* Search loader line color */
.quick-launch-popup .search .loader-line {
  color: var(--sky);
}

.quick-launch-popup .search .search-icon {
  font-family: 'Segoe Fluent Icons';
  font-size: 16px;
  color: var(--text);
  padding-right: 8px;
  min-width: 16px;
}

.quick-launch-popup .search .search-submit-icon {
  font-family: 'Segoe Fluent Icons';
  font-size: 16px;
  color: var(--text);
  min-width: 16px;
}

.quick-launch-popup .search .search-input {
  background: transparent;
  border: none;
  color: var(--text);
  font-size: 14px;
  font-weight: 400;
  padding: 4px 0;
}

/* Search prefix styling (e.g., ">" for commands) */
.quick-launch-popup .search .prefix {
  background: var(--sapphire);
  border-radius: 8px;
  color: var(--base);
  padding: -2px 8px 0px 8px;
  margin-top: 2px;
  margin-right: 4px;
  font-size: 12px;
  font-weight: 600;
  max-height: 28px;
}

/* Results list */
.quick-launch-popup .results {
  background: transparent;
  padding: 6px 0;
}

/* Individual result item here you can set font szie for title */
.quick-launch-popup .results-list-view {
  font-size: 14px;
  font-weight: 600;
  color: var(--text);
}

.quick-launch-popup .results-list-view .description {
  color: rgba(205, 214, 244, 0.6);
  font-size: 10px;
  font-weight: 600;
}

/* Result item hover and selected states */
.quick-launch-popup .results-list-view::item {
  padding: 8px 12px;
  border-radius: 6px;
  margin: 2px 6px;
}

.quick-launch-popup .results-list-view::item:hover,
.quick-launch-popup .results-list-view::item:selected {
  background-color: var(--surface0);
}

/* Empty state when no results found */
.quick-launch-popup .results-empty-text {
  font-size: 24px;
  color: var(--text);
  padding-top: 8px;
}

/* Preview Pane */
.quick-launch-popup .preview {
  background: transparent;
  border-left: 1px solid var(--surface0);
}

.quick-launch-popup .preview .preview-text {
  font-size: 10px;
  color: rgba(205, 214, 244, 0.85);
  padding: 4px 8px;
  background-color: rgba(205, 214, 244, 0.02);
  border: none;
}

.quick-launch-popup .preview .preview-image {
  background-color: rgba(205, 214, 244, 0.02);
  padding: 8px 12px;
}

.quick-launch-popup .preview .preview-meta {
  padding: 6px 12px;
  border-top: 1px solid var(--surface0);
}

.quick-launch-popup .preview .preview-meta .preview-title {
  font-size: 12px;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 10px;
  margin-left: -2px;
}

.quick-launch-popup .preview .preview-meta .preview-subtitle {
  font-size: 10px;
  color: var(--text);
  padding-bottom: 1px;
}

/* Preview inline edit form (.preview.edit) */
.quick-launch-popup .preview.edit .preview-title {
  font-size: 13px;
  font-weight: 600;
  color: var(--text);
  padding: 8px 12px 4px 12px;
}

.quick-launch-popup .preview.edit .preview-line-edit {
  background: rgba(205, 214, 244, 0.02);
  border: 1px solid var(--surface2);
  border-radius: 4px;
  font-size: 11px;
  padding: 4px 6px;
  margin: 0 12px;
}

.quick-launch-popup .preview.edit .preview-line-edit:focus {
  border-color: var(--sky);
}

.quick-launch-popup .preview.edit .preview-text-edit {
  background: rgba(205, 214, 244, 0.02);
  border: 1px solid var(--surface2);
  border-radius: 4px;
  font-size: 11px;
  padding: 4px 6px;
  margin: 0 12px;
}

.quick-launch-popup .preview.edit .preview-text-edit:focus {
  border-color: var(--sky);
}

.quick-launch-popup .preview.edit .preview-actions {
  padding: 8px 12px;
}

.quick-launch-popup .preview.edit .preview-btn {
  background: var(--surface0);
  border: none;
  border-radius: 4px;
  color: var(--text);
  font-size: 11px;
  font-weight: 600;
  padding: 4px 16px;
}

.quick-launch-popup .preview.edit .preview-btn:hover {
  background: var(--surface1);
}

.quick-launch-popup .preview.edit .preview-btn.save {
  background: var(--sapphire);
  color: var(--base);
}

.quick-launch-popup .preview.edit .preview-btn.save:hover {
  background: var(--sky);
}

/*
 * ─[ GlazeWM Workspaces ]───────────────────────────────────────────────
 */
.glazewm-workspaces .ws-btn {
  border: none;
  background-color: var(--overlay2);
  color: var(--overlay2);
  margin: 0px 2px;
  border-radius: 3px;
  height: 8px;
  width: 8px;
}

.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty {
  color: var(--teal);
  background-color: var(--teal);
  width: 24px;
  height: 8px;
  border-radius: 3px;
}

.glazewm-workspaces .ws-btn.populated {
  background-color: var(--sky);
  color: var(--sky);
}

.glazewm-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn.populated:hover,
.glazewm-workspaces .ws-btn.empty:hover {
  background-color: var(--lavender);
  color: var(--lavender);
}

.glazewm-workspaces .offline-status {
  font-family: 'JetBrainsMono NF';
  font-size: 10px;
}

/*
 * ─[ GlazeWM Tiling Direction ]─────────────────────────────────────────
 */
.glazewm-tiling-direction .btn {
  font-size: 15px;
  color: var(--text);
  padding: 0 2px 0 4px;
  border: none;
  width: 12px;
}

.glazewm-tiling-direction .btn:hover {
  color: var(--flamingo);
}

/*
 * ─[ Taskbar ]──────────────────────────────────────────────────────────
*/
.taskbar-widget {
  background-color: var(--surface0);
  border-radius: 6px;
  border: 1px solid var(--surface2);
  padding: 1px 0;
  min-width: 0px;
}

.taskbar-widget .app-container {
  border-radius: 4px;
  padding: 0 2px;
  margin: 0 1px;
}

.taskbar-widget .app-container:hover {
  background-color: rgba(205, 214, 244, 0.2);
}

.taskbar-widget .app-container.foreground {
  background-color: rgba(205, 214, 244, 0.1);
}

.taskbar-widget .app-container.foreground:hover {
  background-color: rgba(205, 214, 244, 0.2);
}

.taskbar-widget .app-container.flashing {
  background-color: var(--peach);
}

.taskbar-widget .app-container .app-title {
  padding: 0 -2px 0 1px;
  font-family: 'JetBrainsMono NF';
  font-size: 9.5px;
}

.taskbar-widget .app-container .app-title:hover {
  color: var(--pink);
}

.taskbar-preview {
  border-radius: 6px;
  border: 1px solid var(--sky);
  background-color: rgba(17, 17, 27, 0.9);
}

.taskbar-preview .header {
  padding-bottom: 12px;
  padding-top: 4px;
}

.taskbar-preview .header .title {
  color: var(--text);
  font-family: 'JetBrainsMono NF';
  font-weight: 600;
  font-size: 10px;
}

/*
 * ─[ Media ]────────────────────────────────────────────────────────────
 */
.media-widget {
  background-color: var(--surface0);
  padding-left: 2px;
  border-radius: 6px;
  margin-left: 4px;
  border: 1px solid var(--surface2);
}

.media-widget .label {
  color: var(--text);
}

.media-widget .btn {
  color: var(--lavender);
  margin: 0 2px;
  font-weight: bold;
  font-size: 11px;
}

.media-widget .btn:hover {
  color: var(--text);
}

.media-widget .btn.play {
  font-size: 11px;
}

.media-widget .btn.next {
  padding-right: 2px;
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
  color: var(--overlay0);
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
}

/*
 * ─[ Media Menu ]───────────────────────────────────────────────────────
*/
.media-menu {
  min-width: 420px;
  max-width: 420px;
  background-color: rgba(17, 17, 27, 0.9);
  border-radius: 6px;
  border: 1px solid var(--sky);
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  font-family: 'JetBrainsMono NFP';
}

.media-menu .artist {
  font-size: 13px;
  color: var(--lavender);
  margin-top: 0px;
  margin-bottom: 8px;
}

.media-menu .source {
  font-size: 11px;
  color: var(--base);
  font-weight: normal;
  border-radius: 3px;
  background-color: var(--lavender);
  padding: 2px 4px;
}

.media-menu .source.firefox {
  background-color: #f26938;
  color: var(--text);
}
.media-menu .source.spotify {
  background-color: #1ed760;
  color: var(--text);
}
.media-menu .source.edge {
  background-color: #0078d4;
  color: var(--text);
}
.media-menu .source.windows-media {
  background-color: #0078d4;
  color: var(--text);
}

.media-menu .source.zen {
  background-color: var(--crust);
  color: var(--text);
  border: 1px solid var(--base);
}

.media-menu .btn {
  font-family: 'JetBrainsMono NF';
  font-size: 14px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 20px;
}

.media-menu .btn.prev {
  margin-left: 10px;
}

.media-menu .btn:hover {
  color: var(--text);
  background-color: rgba(205, 214, 244, 0.1);
}

.media-menu .btn.play:hover {
  color: var(--text);
  background-color: rgba(205, 214, 244, 0.2);
}

.media-menu .btn.play {
  background-color: rgba(205, 214, 244, 0.1);
  color: var(--lavender);
  font-size: 20px;
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: var(--overlay0);
  background-color: var(--surface0);
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 15px;
}

.media-menu .playback-time {
  font-size: 10px;
  color: var(--subtext0);
  margin-top: 20px;
  min-width: 100px;
}

.media-menu .progress-slider {
  height: 10px;
  margin: 5px 4px;
  border-radius: 2px;
}

.media-menu .progress-slider::groove {
  background: transparent;
  height: 2px;
  border-radius: 3px;
  background: var(--surface0);
}

.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: var(--overlay0);
}

.media-menu .progress-slider::sub-page {
  background: var(--sky);
  border-radius: 3px;
  height: 6px;
}

.media-menu .app-volume-container {
  padding: 8px 6px;
  border-radius: 12px;
  border: 1px solid var(--base);
  margin-left: 10px;
  min-width: 16px;
}

.media-menu .app-volume-container .volume-slider {
  padding: 4px 0 0 1px;
}

.media-menu .app-volume-container .volume-slider::groove {
  background: var(--surface0);
  width: 2px;
  border-radius: 3px;
}

.media-menu .app-volume-container .volume-slider::add-page {
  background: var(--sky);
  border-radius: 3px;
}

.media-menu .app-volume-container .volume-slider::groove:hover {
  background: var(--surface0);
  width: 6px;
  border-radius: 3px;
}

.media-menu .app-volume-container .volume-slider::sub-page {
  background: var(--surface0);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.media-menu .app-volume-container .mute-button,
.media-menu .app-volume-container .unmute-button {
  font: 'JetBrainsMono NF';
  font-size: 13px;
  color: var(--subtext0);
  margin-top: 6px;
}

.media-menu .app-volume-container .unmute-button {
  color: var(--overlay0);
}

/*
 * ─[ Clock ]────────────────────────────────────────────────────────────
 */
.clock-widget {
  background-color: var(--surface0);
  padding: 0 4px;
  border-radius: 6px;
  border: 1px solid var(--surface2);
}

.clock-widget .icon {
  color: var(--maroon);
  font-size: 12px;
  margin-right: 3px;
}

.clock-widget .icon.clock_00 {
  font-size: 13px;
}

.clock-widget .icon.clock_01 {
  font-size: 13px;
}

.clock-widget .icon.clock_02 {
  font-size: 13px;
}

.clock-widget .icon.clock_03 {
  font-size: 13px;
}

.clock-widget .icon.clock_04 {
  font-size: 13px;
}

.clock-widget .icon.clock_05 {
  font-size: 13px;
}

.clock-widget .icon.clock_06 {
  font-size: 13px;
}

.clock-widget .icon.clock_07 {
  font-size: 13px;
}

.clock-widget .icon.clock_08 {
  font-size: 13px;
}

.clock-widget .icon.clock_09 {
  font-size: 13px;
}

.clock-widget .icon.clock_10 {
  font-size: 13px;
}

.clock-widget .icon.clock_11 {
  font-size: 13px;
}

.clock-widget .icon.clock_12 {
  font-size: 13px;
}

.clock-widget .label {
  font-size: 10px;
  color: var(--text);
}

.clock-widget .label:hover {
  color: var(--pink);
}

/*
* ─[ Calendar ]──────────────────────────────────────────────────────────
*/
.calendar {
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-radius: 6px;
}

.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: rgba(17, 17, 27, 0);
  color: var(--text);
  font-family: 'JetBrainsMono NFP';
  border: none;
  outline: none;
}

.calendar .calendar-table::item:selected {
  background-color: var(--sky);
  color: var(--base);
  border-radius: 4px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  font-family: 'JetBrainsMono NFP';
  font-size: 14px;
  color: var(--text);
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
}

.calendar .day-label {
  margin-top: 4px;
}

.calendar .month-label {
  font-weight: normal;
}

.calendar .date-label {
  font-size: 75px;
  font-weight: 900;
  margin-top: -8px;
}

.calendar .week-label,
.calendar .holiday-label {
  font-size: 10px;
  font-weight: 600;
}

/*
 * ─[ Cava ]─────────────────────────────────────────────────────────────
 */
.cava-widget {
  background-color: var(--surface0);
  padding: 0 4px;
  border-radius: 6px;
  border: 1px solid var(--surface2);
}

/*
 * ─[ Panel Grouper ]────────────────────────────────────────────────────
*/
.panel-grouper .container {
  background-color: var(--surface0);
  border: 1px solid var(--surface2);
  border-radius: 6px;
  padding: 0 4px;
  margin-left: 4px;
}

/*
 * ─[ Memory ]───────────────────────────────────────────────────────────
 */
.memory-widget {
  padding: 0 2px 0 0;
  font-size: 10px;
}

.memory-widget .icon {
  font-size: 12px;
  color: var(--flamingo);
}

.memory-widget .label {
  padding-left: 2px;
}

.memory-widget .label.status-critical {
  color: var(--red);
}

.memory-widget .label:hover {
  color: var(--pink);
}

.memory-widget .progress-circle {
  padding: 0 2px 0 0;
}

.memory-popup {
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-radius: 6px;
  min-width: 300px;
}

.memory-popup .header {
  background: transparent;
  padding: 12px 16px;
}

.memory-popup .header .text {
  font-size: 14px;
  color: var(--text);
}

.memory-popup .header .pin-btn {
  font-size: 12px;
  font-family: 'Segoe Fluent Icons';
  background: transparent;
  border: none;
  padding: 6px;
  color: rgba(205, 214, 244, 0.6);
}

.memory-popup .header .pin-btn:hover {
  color: rgba(205, 214, 244, 0.8);
}

.memory-popup .header .pin-btn.pinned {
  color: var(--text);
}

.memory-popup .graph-container {
  background: transparent;
  min-height: 64px;
}

.memory-popup .memory-graph {
  color: var(--sky);
}

.memory-popup .memory-graph-grid {
  color: rgba(205, 214, 244, 0.05);
}

.memory-popup .graph-title {
  font-size: 10px;
  color: rgba(205, 214, 244, 0.5);
  padding: 0px 0px 4px 14px;
}

.memory-popup .stats {
  background: transparent;
  padding: 12px;
}

.memory-popup .stats .stat-item {
  background-color: rgba(205, 214, 244, 0.03);
  border: 1px solid rgba(205, 214, 244, 0.04);
  border-radius: 8px;
  padding: 4px 8px;
  margin: 4px;
}

.memory-popup .stats .stat-label {
  font-size: 10px;
  color: rgba(205, 214, 244, 0.65);
  font-weight: 400;
  padding: 6px 4px 2px 4px;
}

.memory-popup .stats .stat-value {
  font-size: 14px;
  font-weight: 700;
  color: var(--text);
  padding: 0 4px 8px 4px;
}

/*
 * ─[ CPU ]──────────────────────────────────────────────────────────────
*/
.cpu-widget {
  padding: 0 2px 0 0;
  font-size: 10px;
}

.cpu-widget .icon {
  font-size: 12px;
  color: var(--mauve);
}

.cpu-widget .label {
  padding-left: 2px;
}

.cpu-widget .label.status-critical {
  color: var(--red);
}

.cpu-widget .label:hover {
  color: var(--pink);
}

.cpu-widget .progress-circle {
  padding: 0 2px 0 0;
}

.cpu-popup {
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-radius: 6px;
  min-width: 300px;
}

.cpu-popup .header {
  background: transparent;
  padding: 12px 16px;
}

.cpu-popup .header .text {
  font-size: 14px;
  color: var(--text);
}

.cpu-popup .header .pin-btn {
  font-size: 12px;
  font-family: 'Segoe Fluent Icons';
  background: transparent;
  border: none;
  padding: 6px;
  color: rgba(205, 214, 244, 0.6);
}

.cpu-popup .header .pin-btn:hover {
  color: rgba(205, 214, 244, 0.8);
}

.cpu-popup .header .pin-btn.pinned {
  color: var(--text);
}

.cpu-popup .graph-container {
  background: transparent;
  min-height: 64px;
}

.cpu-popup .cpu-graph {
  color: var(--sky);
}

.cpu-popup .cpu-graph-grid {
  color: rgba(205, 214, 244, 0.05);
}

.cpu-popup .graph-title {
  font-size: 10px;
  color: rgba(205, 214, 244, 0.5);
  padding: 0px 0px 4px 14px;
}

.cpu-popup .stats {
  background: transparent;
  padding: 12px;
}

.cpu-popup .stats .stat-item {
  background-color: rgba(205, 214, 244, 0.03);
  border: 1px solid rgba(205, 214, 244, 0.04);
  border-radius: 8px;
  padding: 4px 8px;
  margin: 4px;
}

.cpu-popup .stats .stat-label {
  font-size: 10px;
  color: rgba(205, 214, 244, 0.65);
  font-weight: 400;
  padding: 6px 4px 2px 4px;
}

.cpu-popup .stats .stat-value {
  font-size: 14px;
  font-weight: 700;
  color: var(--text);
  padding: 0 4px 8px 4px;
}

/*
 * ─[ Open-Meteo (Weather) ]─────────────────────────────────────────────
*/
.open-meteo-widget {
  padding: 0 0 0 2px;
}

.open-meteo-widget .icon {
  color: var(--yellow);
  font-size: 12px;
}

.open-meteo-widget .label {
  color: var(--text);
  padding: 0 2px;
}

.open-meteo-widget .label.alt {
  padding: 0 2px;
}

.open-meteo-widget .label:hover {
  color: var(--pink);
}

.open-meteo-card {
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-radius: 6px;
}

.open-meteo-card-today {
  border: 1px solid var(--surface2);
  border-radius: 8px;
  background-color: rgba(17, 17, 27, 0.2);
}

.open-meteo-card-today .label {
  font-size: 10px;
  padding: 0 40px;
}

.open-meteo-card-today .label.location {
  font-size: 24px;
  font-weight: 700;
}

.open-meteo-card-today .label.sunrisesunset {
  font-size: 13px;
  padding: 0;
}

.open-meteo-card-today .label.sunrisesunset-icon {
  font-size: 13px;
  padding: 0;
}

.open-meteo-card-today .label.alert {
  font-size: 12px;
  font-weight: 700;
  background-color: var(--yellow);
  border: 1px solid var(--surface2);
  color: var(--text);
  border-radius: 6px;
  padding: 5px 0;
}

.open-meteo-card-day {
  border: 1px solid var(--surface2);
  border-radius: 8px;
  background-color: rgba(17, 17, 27, 0.2);
}

.open-meteo-card-day.active {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--overlay1);
}

.open-meteo-card-day:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.open-meteo-card-day .label {
  font-size: 12px;
}

.open-meteo-card .hourly-container {
  border: 1px solid var(--surface2);
  background-color: var(--sapphire);
  border-radius: 8px;
  min-height: 150px;
}

.open-meteo-card .hourly-data {
  background-color: var(--yellow);
  color: var(--text);
  font-size: 11px;
  font-weight: 700;
}

.open-meteo-card .hourly-data.temperature {
  background-color: #c9be48;
}

.open-meteo-card .hourly-data.rain {
  background-color: #4a90e2;
}

.open-meteo-card .hourly-data.snow {
  background-color: #a0c4ff;
}

.open-meteo-card .hourly-data .hourly-rain-animation {
  color: rgba(150, 200, 255, 40);
  background-color: rgba(0, 0, 0, 0);
}

.open-meteo-card .hourly-data .hourly-snow-animation {
  color: rgba(255, 255, 255, 150);
  background-color: rgba(0, 0, 0, 0);
}

.open-meteo-card .hourly-data-buttons {
  margin-top: 16px;
  margin-left: 16px;
}

.open-meteo-card .hourly-data-button {
  border-radius: 5px;
  min-height: 24px;
  min-width: 24px;
  max-width: 24px;
  max-height: 24px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid transparent;
}

.open-meteo-card .hourly-data-button.active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--overlay1);
}

.open-meteo-card .search-head {
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}

.open-meteo-card .search-description {
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 8px;
}

.open-meteo-card .no-data-icon {
  font-size: 88px;
}

.open-meteo-card .no-data-text {
  font-size: 16px;
  font-weight: 400;
}

/* search dialog */
.open-meteo-card .search-input {
  padding: 4px 8px;
  border: 1px solid #5e6070;
  border-radius: 6px;
  background-color: rgba(17, 17, 27, 0.1);
  color: var(--text);
  font-size: 10px;
}

.open-meteo-card .search-input:focus {
  border: 1px solid var(--sky);
  background-color: rgba(17, 17, 27, 0.2);
}

.open-meteo-card .search-results {
  border: 1px solid #45475a00;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text);
  font-size: 9px;
}

.open-meteo-card .search-results::item {
  padding: 2px;
}

.open-meteo-card .search-results::item:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
}

/*
 * ─[ Control Grouper ]──────────────────────────────────────────────────
*/
.control-grouper .container {
  background-color: var(--surface0);
  border: 1px solid var(--surface2);
  border-radius: 6px;
  padding: 0 4px;
  margin: 0 4px;
}

/*
 * ─[ Systray ]──────────────────────────────────────────────────────────
 */
.systray .pinned-container[forceshow='true'] {
  background: var(--surface0);
}

.systray .button {
  border-radius: 4px;
  padding: 1px 0;
}

.systray .button:hover {
  background-color: rgba(205, 214, 244, 0.2);
}

.systray .button[dragging='true'] {
  background-color: var(--overlay0);
  border: 1px solid var(--subtext0);
}

.systray .unpinned-container {
  padding-right: 0px;
}

.systray .unpinned-visibility-btn {
  border: none;
  width: 7px;
  font-size: 15px;
  padding: 0 3px 0 1px;
}

.systray .unpinned-visibility-btn:checked {
  background: var(--surface0);
}

.systray .unpinned-visibility-btn:hover {
  color: var(--pink);
}

.systray-popup {
  background-color: rgba(17, 17, 27, 0.9);
  border-radius: 6px;
  border: 1px solid var(--sky);
  padding: 4px;
}

.systray-popup .button {
  padding: 8px;
  border-radius: 4px;
}

.systray-popup .button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/*
 * ─[ Wallpaper Widget ]─────────────────────────────────────────────────
 */
.wallpapers-widget {
  padding: 0 2px;
}

.wallpapers-widget .icon {
  color: var(--peach);
  font-size: 12px;
}

/*
 * ─[ Wallpaper Gallery ]────────────────────────────────────────────────
 */
.wallpapers-gallery-window {
  background-color: rgba(17, 17, 27, 0.2);
}

.wallpapers-gallery-image {
  border: 4px solid transparent;
  border-radius: 5px;
}

.wallpapers-gallery-image:hover {
  border: 4px solid var(--teal);
}

.wallpapers-gallery-image.focused {
  border: 4px solid var(--sky);
}

/*
 * ─[ Copilot ]──────────────────────────────────────────────────────────
*/
.copilot-widget {
  font-family: 'JetBrainsMono NFP';
  padding: 0 2px;
}

.copilot-widget .icon {
  font-size: 10px;
  color: var(--lavender);
}

.copilot-widget .label {
  padding-left: 4px;
  font-size: 10px;
  color: var(--lavender);
}

.copilot-widget .label.warning,
.copilot-widget .icon.warning {
  color: var(--yellow);
}

.copilot-widget .label.critical,
.copilot-widget .icon.critical {
  color: var(--red);
}

/* Menu container */
.copilot-menu {
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-radius: 6px;
  font-family: 'JetBrainsMono NF';
  min-width: 400px;
}

/* Header */
.copilot-menu .header {
  color: var(--text);
  font-size: 18px;
  font-weight: 400;
  padding: 12px 0 12px 12px;
}

/* Section containers */
.copilot-menu .section {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid var(--surface0);
  border-radius: 14px;
  margin: 6px 12px;
}

.copilot-menu .section.progress-section {
  background-color: transparent;
  border: none;
}

.copilot-menu .section-title {
  color: var(--text);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-left: -3px;
}

.copilot-menu .section.progress-section .section-title {
  font-size: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

/* Progress bar - track (background) */
.copilot-menu .progress-bar {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

/* Progress bar - fill (foreground) */
.copilot-menu .progress-bar .fill {
  background-color: var(--yellow);
  border-radius: 4px;
}

/* Progress bar states */
.copilot-menu .progress-bar.warning .fill {
  background-color: var(--peach);
}

.copilot-menu .progress-bar.critical .fill {
  background-color: var(--red);
}

/* Progress section text */
.copilot-menu .usage-count {
  color: var(--overlay2);
  font-size: 10px;
  font-weight: 600;
}

.copilot-menu .usage-percent {
  color: var(--overlay2);
  font-size: 10px;
  font-weight: 600;
}

.copilot-menu .reset-date {
  color: var(--overlay2);
  font-size: 10px;
  font-weight: 600;
}

/* Spending section */
.copilot-menu .stat-label {
  color: var(--overlay2);
  font-size: 10px;
  font-weight: 600;
}

.copilot-menu .stat-value {
  color: var(--overlay2);
  font-size: 10px;
  font-weight: 600;
}

.copilot-menu .stat-row.total .stat-value {
  color: var(--green);
  font-size: 10px;
  font-weight: 600;
}
/* Model section - different colors for each model */
.copilot-menu .model-name {
  color: var(--overlay2);
  font-weight: 600;
  font-size: 10px;
}

.copilot-menu .model-count {
  color: var(--overlay2);
  font-weight: 600;
  font-size: 10px;
}

.copilot-menu .progress-bar.model-0 .fill {
  background-color: var(--lavender);
}

.copilot-menu .progress-bar.model-1 .fill {
  background-color: var(--mauve);
}

.copilot-menu .progress-bar.model-2 .fill {
  background-color: var(--maroon);
}

.copilot-menu .progress-bar.model-3 .fill {
  background-color: var(--flamingo);
}

.copilot-menu .progress-bar.model-4 .fill {
  background-color: var(--green);
}

/* Chart - line and fill color controlled by 'color' property */
.copilot-menu .usage-chart {
  color: var(--sky);
}

/* Error section */
.copilot-menu .error-section {
  background: transparent;
  border: none;
  padding: 32px 0;
}

.copilot-menu .error-icon {
  color: var(--text);
  font-size: 88px;
}

.copilot-menu .error-message {
  color: var(--text);
  font-size: 14px;
  font-weight: 600;
}

/* Empty/loading state */
.copilot-menu .empty-icon {
  color: var(--text);
  font-size: 88px;
  padding-top: 32px;
}

.copilot-menu .empty-message {
  color: var(--text);
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 32px;
}

/*
 * ─[ Wifi ]─────────────────────────────────────────────────────────────
 */
.wifi-widget {
  padding: 0 2px;
}

.wifi-widget .icon {
  color: var(--sky);
  font-size: 12px;
}

.wifi-widget .label {
  color: var(--text);
  padding: 0 0 0 2px;
}

.wifi-widget .label:hover {
  color: var(--pink);
}

.wifi-menu {
  font-family: 'JetBrainsMono NFP';
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-radius: 6px;
  max-height: 350px;
  min-height: 375px;
  min-width: 375px;
}

.wifi-menu .progress-bar {
  max-height: 2px;
  border-left: 1px solid var(--sky);
  border-right: 1px solid var(--sky);
}

.wifi-menu .progress-bar::chunk {
  background-color: var(--sky);
}

.wifi-menu .header {
  font-family: 'JetBrainsMono NFP';
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: white;
  border-bottom: 1px solid rgba(205, 214, 244, 0.1);
}

.wifi-menu .error-message {
  font-family: 'JetBrainsMono NFP';
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 12px;
  background-color: var(--red);
  border-left: 1px solid var(--sky);
  border-right: 1px solid var(--sky);
  color: white;
  border-bottom: 1px solid rgba(205, 214, 244, 0.1);
}

.wifi-menu .wifi-list {
  background-color: transparent;
  border-left: 1px solid var(--sky);
  margin-right: 3px;
}

.wifi-menu .wifi-item {
  min-height: 32px;
  padding: 2px 12px;
  margin: 2px 4px;
}

.wifi-menu .wifi-item:hover {
  background-color: rgba(69, 71, 90, 0.5);
  border-radius: 6px;
}

.wifi-menu .wifi-item[active='true'] {
  background-color: rgba(69, 71, 90, 0.9);
  font-size: 12px;
  border-radius: 6px;
  min-height: 80px;
}

.wifi-menu .wifi-item .icon {
  font-family: 'Segoe Fluent Icons';
  font-size: 24px;
  margin-right: 10px;
}

.wifi-menu .wifi-item .name {
  font-family: 'JetBrainsMono NFP';
  font-size: 12px;
  margin-right: 10px;
}

.wifi-menu .wifi-item .password {
  font-family: 'JetbrainsMono NFP';
  background-color: transparent;
  font-size: 12px;
}

.wifi-menu .wifi-item .status {
  font-family: 'JetbrainsMono NFP';
  font-size: 12px;
}

.wifi-menu .wifi-item .strength {
  font-family: 'JetbrainsMono NFP';
  font-size: 10px;
}

.wifi-menu .wifi-item .controls-container {
  padding-top: 8px;
}

.wifi-menu .wifi-item .connect {
  background-color: rgba(205, 214, 244, 0.15);
  padding: 4px 30px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}

.wifi-menu .wifi-item .connect:hover {
  background-color: rgba(205, 214, 244, 0.2);
}

.wifi-menu .wifi-item .connect:pressed {
  background-color: rgba(205, 214, 244, 0.3);
}

.wifi-menu .footer {
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  margin-top: 2px;
  color: #9399b2;
  border: 1px solid var(--sky);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: rgba(17, 17, 27, 0.9);
  border-top: 1px solid rgba(205, 214, 244, 0.1);
}

.wifi-menu .footer .settings-button {
  font-family: 'JetbrainsMono NFP';
  background-color: transparent;
  border: none;
  padding: 0 2px;
  min-width: 26px;
  min-height: 26px;
  color: var(--text);
}

.wifi-menu .footer .refresh-icon {
  font-family: 'Segoe Fluent Icons';
  background-color: transparent;
  border: none;
  min-width: 26px;
  min-height: 26px;
  color: var(--text);
}

.wifi-menu .footer .refresh-icon:hover {
  background-color: rgba(205, 214, 244, 0.1);
  border-radius: 4px;
}

/*
 * ─[ Volume ]───────────────────────────────────────────────────────────
 */
.volume-widget .icon {
  color: var(--teal);
  font-size: 12px;
  padding: 0 2px;
}

.volume-widget .label {
  color: var(--text);
}

.volume-slider {
  border: none;
}

.audio-menu {
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-radius: 6px;
}

.audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}

.audio-container .device.selected {
  background-color: rgba(205, 214, 244, 0.085);
}

.audio-container .device:hover {
  background-color: rgba(205, 214, 244, 0.06);
}

/*
 * ─[ Notification ]─────────────────────────────────────────────────────
 */
.notification-widget {
  padding: 0 0 0 2px;
}

.notification-widget .icon {
  font-size: 12px;
  color: var(--blue);
}

.notification-widget .label {
  background-color: var(--red);
  color: var(--base);
  font-size: 7px;
  border-radius: 3px;
  position: absolute;
  padding: 1px;
  margin: 3px 0 8px 0;
}

.notification-widget .label.alt {
  font-size: 10px;
  color: var(--blue);
  position: relative;
  margin: 0;
  background-color: transparent;
}

/*
* ─[ Power Menu ]───────────────────────────────────────────────────────
*/
.power-menu-widget {
  background-color: var(--surface0);
  padding: 1px;
  border-radius: 6px;
  border: 1px solid var(--surface2);
}

.power-menu-widget .label {
  color: var(--red);
  font-weight: bold;
  font-size: 13px;
  padding: 0 4px;
  border-radius: 4px;
}

.power-menu-widget .label:hover {
  background-color: rgba(205, 214, 244, 0.2);
}

.power-menu-popup {
  background-color: transparent;
}

.power-menu-popup .button {
  padding: 0;
  width: 180px;
  height: 230px;
  border-radius: 8px;
  background-color: var(--crust);
  color: var(--text);
  border: 4px solid rgba(58, 59, 83, 0);
  margin: 0px;
}

.power-menu-popup .button.hover {
  background-color: var(--base);
  border: 4px solid var(--base);
}

.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--overlay2);
}

.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 32px;
  color: var(--surface2);
}

.power-menu-popup .button.cancel .icon {
  padding: 0;
  margin: 0;
}

.power-menu-popup .button.cancel .label {
  color: var(--red);
  margin: 0;
}

.power-menu-popup .button.cancel {
  height: 32px;
  border-radius: 8px;
}

.uptime {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--surface2);
  font-weight: 600;
}
