/* prettier-ignore */
:root {
  --rosewater: #F5E0DC;
  --flamingo: #F2CDCD;
  --pink: #F5C2E7;
  --mauve: #CBA6F7;
  --red: #F38BA8;
  --maroon: #EBA0AC;
  --peach: #FAB387;
  --yellow: #F9E2AF;
  --green: #A6E3A1;
  --teal: #94E2D5;
  --sky: #89DCEB;
  --sapphire: #74C7EC;
  --blue: #89B4FA;
  --lavender: #B4BEFE;
  --text: #CDD6F4;
  --subtext1: #BAC2DE;
  --subtext0: #A6ADC8;
  --overlay2: #9399B2;
  --overlay1: #7F849C;
  --overlay0: #6C7086;
  --surface2: #585B70;
  --surface1: #45475A;
  --surface0: #313244;
  --base: #1E1E2E;
  --mantle: #181825;
  --crust: #11111B;
  --main: #10151D;
}

QPushButton {
  outline: none;
}

* {
  font-size: 10px;
  color: var(--text);
  font-weight: 700;
  font-family: "JetBrainsMono NFP";
}

.yasb-bar {
  padding: 0;
  margin: 0;
  /* HACK: get the bar's context menu working while keeping the background-color transparent
   */
  background-color: rgba(0, 0, 0, 0.005);
}

.widget .icon {
  font-size: 14px;
}

.widget .label {
  color: var(--text);
}

.tooltip {
  font-family: "JetBrainsMono NFP";
  font-weight: 600;
  font-size: 10px;
  color: var(--text);
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  padding: 4px;
  border-radius: 6px;
  margin-top: 0px;
}

/*
 * ╾╼ Context Menu ╾────────────────────────────────────────────────────╼
 */
.context-menu,
.context-menu .menu-checkbox {
  background-color: var(--crust);
  border-radius: 6px;
  padding: 2px;
  font-family: "JetBrainsMono NFP";
  font-size: 10px;
  color: var(--text);
}

.context-menu::right-arrow {
  width: 8px;
  height: 8px;
  padding-right: 8px;
}

.context-menu::item,
.context-menu .menu-checkbox {
  padding: 4px;
  border-radius: 6px;
}

.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
  background-color: var(--base);
  color: var(--text);
}

.context-menu::separator {
  height: 1px;
  background-color: var(--surface0);
  margin: 4px 4px;
}
.context-menu::item:disabled {
  color: var(--overlay0);
  background-color: transparent;
}

.context-menu .menu-checkbox .checkbox {
  border: none;
  padding: 4px 8px;
  font-size: 10px;
  margin: 0;
  color: var(--text);
  font-family: "JetBrainsMono NFP";
}

.context-menu .submenu::item:disabled {
  margin: 0;
  padding-left: 8px;
}

.context-menu .menu-checkbox .checkbox:unchecked {
  color: var(--surface0);
}

.context-menu .menu-checkbox .checkbox::indicator {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.context-menu .menu-checkbox .checkbox::indicator:unchecked {
  background: var(--surface0);
}

.context-menu .menu-checkbox .checkbox::indicator:checked {
  background: var(--sky);
}

.context-menu .menu-checkbox .checkbox:focus {
  outline: none;
}

.context-menu::item:checked {
  background-color: blue;
  color: white;
}

/*
 * ╾╼ GlazeWM Grouper ╾─────────────────────────────────────────────────╼
*/
.glazewm-grouper .container {
  background-color: var(--surface0);
  border: 1px solid var(--surface2);
  border-radius: 6px;
  padding: 0 4px;
  margin-right: 4px;
}

/*
 * ─[ GlazeWM Workspaces ]───────────────────────────────────────────────
 */
.glazewm-workspaces .ws-btn {
  border: none;
  background-color: var(--overlay2);
  color: var(--overlay2);
  margin: 0px 2px;
  border-radius: 4px;
  height: 8px;
  width: 8px;
}

.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty {
  color: var(--teal);
  background-color: var(--teal);
  width: 24px;
  height: 8px;
  border-radius: 4px;
}

.glazewm-workspaces .ws-btn.populated {
  background-color: var(--sky);
  color: var(--sky);
}

.glazewm-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn.populated:hover,
.glazewm-workspaces .ws-btn.empty:hover {
  background-color: var(--lavender);
  color: var(--lavender);
}

.glazewm-workspaces .offline-status {
  font-family: "JetBrainsMono NF";
  font-size: 10px;
}

/*
 * ─[ GlazeWM Tiling Direction ]─────────────────────────────────────────
 */
.glazewm-tiling-direction {
  padding-left: 2px;
}

.glazewm-tiling-direction .btn {
  font-size: 15px;
  color: var(--text);
  padding: 0 2px;
  border: none;
  width: 12px;
}

.glazewm-tiling-direction .btn:hover {
  color: var(--flamingo);
}

/*
 * ╾╼ Taskbar ╾─────────────────────────────────────────────────────────╼
*/

.taskbar-widget {
  background-color: var(--surface0);
  border-radius: 6px;
  border: 1px solid var(--surface2);
  padding: 1px 0;
  min-width: 0px;
}

.taskbar-widget .app-container {
  border-radius: 4px;
  padding: 0 2px;
  margin: 0 1px;
}

.taskbar-widget .app-container:hover {
  background-color: rgba(205, 214, 244, 0.2);
}

.taskbar-widget .app-container.foreground {
  background-color: rgba(205, 214, 244, 0.1);
}

.taskbar-widget .app-container.foreground:hover {
  background-color: rgba(205, 214, 244, 0.2);
}

.taskbar-widget .app-container.flashing {
  background-color: var(--peach);
}

.taskbar-widget .app-container .app-title {
  padding: 0 -2px 0 1px;
  font-family: "JetBrainsMono NF";
  font-size: 9.5px;
}

.taskbar-widget .app-container .app-title:hover {
  color: var(--pink);
}

.taskbar-preview {
  border-radius: 6px;
  border: 1px solid var(--sky);
  background-color: rgba(17, 17, 27, 0.9);
}

.taskbar-preview .header {
  padding-bottom: 12px;
  padding-top: 4px;
}

.taskbar-preview .header .title {
  color: var(--text);
  font-family: "JetBrainsMono NF";
  font-weight: 600;
  font-size: 10px;
}

/*
 * ─[ Media ]────────────────────────────────────────────────────────────
 */
.media-widget {
  background-color: var(--surface0);
  padding-left: 2px;
  border-radius: 6px;
  margin-left: 4px;
  border: 1px solid var(--surface2);
}

.media-widget .label {
  color: var(--text);
}

.media-widget .btn {
  color: var(--lavender);
  margin: 0 2px;
  font-weight: bold;
  font-size: 11px;
}

.media-widget .btn:hover {
  color: var(--text);
}

.media-widget .btn.play {
  font-size: 11px;
}

.media-widget .btn.next {
  padding-right: 2px;
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
  color: var(--overlay0);
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
}

/*
 * ╾╼ Media Menu ╾──────────────────────────────────────────────────────╼
 */
.media-menu {
  min-width: 420px;
  max-width: 420px;
  background-color: rgba(17, 17, 27, 0.9);
  border-radius: 6px;
  border: 1px solid var(--sky);
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  font-family: "JetBrainsMono NFP";
}

.media-menu .artist {
  font-size: 13px;
  color: var(--lavender);
  margin-top: 0px;
  margin-bottom: 8px;
}

.media-menu .source {
  font-size: 11px;
  color: var(--base);
  font-weight: normal;
  border-radius: 3px;
  background-color: var(--lavender);
  padding: 2px 4px;
}

.media-menu .source.firefox {
  background-color: #f26938;
  color: var(--text);
}
.media-menu .source.spotify {
  background-color: #1ed760;
  color: var(--text);
}
.media-menu .source.edge {
  background-color: #0078d4;
  color: var(--text);
}
.media-menu .source.windows-media {
  background-color: #0078d4;
  color: var(--text);
}

.media-menu .source.zen {
  background-color: var(--crust);
  color: var(--text);
  border: 1px solid var(--base);
}

.media-menu .btn {
  font-family: "JetBrainsMono NF";
  font-size: 14px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 20px;
}

.media-menu .btn.prev {
  margin-left: 10px;
}

.media-menu .btn:hover {
  color: var(--text);
  background-color: rgba(205, 214, 244, 0.1);
}

.media-menu .btn.play:hover {
  color: var(--text);
  background-color: rgba(205, 214, 244, 0.2);
}

.media-menu .btn.play {
  background-color: rgba(205, 214, 244, 0.1);
  color: var(--lavender);
  font-size: 20px;
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
  color: var(--overlay0);
  background-color: var(--surface0);
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 15px;
}

.media-menu .playback-time {
  font-size: 10px;
  color: var(--subtext0);
  margin-top: 20px;
  min-width: 100px;
}

.media-menu .progress-slider {
  height: 10px;
  margin: 5px 4px;
  border-radius: 2px;
}

.media-menu .progress-slider::groove {
  background: transparent;
  height: 2px;
  border-radius: 3px;
  background: var(--surface0);
}

.media-menu .progress-slider::groove:hover {
  background: transparent;
  height: 6px;
  border-radius: 3px;
  background: var(--overlay0);
}

.media-menu .progress-slider::sub-page {
  background: var(--sky);
  border-radius: 3px;
  height: 6px;
}

.media-menu .app-volume-container {
  padding: 8px 6px;
  border-radius: 12px;
  border: 1px solid var(--base);
  margin-left: 10px;
  min-width: 16px;
}

.media-menu .app-volume-container .volume-slider {
  padding: 4px 0 0 1px;
}

.media-menu .app-volume-container .volume-slider::groove {
  background: var(--surface0);
  width: 2px;
  border-radius: 3px;
}

.media-menu .app-volume-container .volume-slider::add-page {
  background: var(--sky);
  border-radius: 3px;
}

.media-menu .app-volume-container .volume-slider::groove:hover {
  background: var(--surface0);
  width: 6px;
  border-radius: 3px;
}

.media-menu .app-volume-container .volume-slider::sub-page {
  background: var(--surface0);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.media-menu .app-volume-container .mute-button,
.media-menu .app-volume-container .unmute-button {
  font: "JetBrainsMono NF";
  font-size: 13px;
  color: var(--subtext0);
  margin-top: 6px;
}

.media-menu .app-volume-container .unmute-button {
  color: var(--overlay0);
}

/*
 * ─[ Clock ]────────────────────────────────────────────────────────────
 */
.clock-widget {
  background-color: var(--surface0);
  padding: 0 4px;
  border-radius: 6px;
  border: 1px solid var(--surface2);
}

.clock-widget .icon {
  color: var(--maroon);
  font-size: 14px;
  margin-right: 2px;
}

.clock-widget .label {
  font-size: 10px;
  color: var(--text);
}

.clock-widget .label:hover {
  color: var(--pink);
}

/*
* ─[ Calendar ]──────────────────────────────────────────────────────────
*/
.calendar {
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-radius: 6px;
}

.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: rgba(17, 17, 27, 0);
  color: var(--text);
  font-family: "JetBrainsMono NFP";
  border: none;
  outline: none;
}

.calendar .calendar-table::item:selected {
  background-color: var(--sky);
  color: var(--base);
  border-radius: 4px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  font-family: "JetBrainsMono NFP";
  font-size: 14px;
  color: var(--text);
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
}

.calendar .day-label {
  margin-top: 4px;
}

.calendar .month-label {
  font-weight: normal;
}

.calendar .date-label {
  font-size: 75px;
  font-weight: 900;
  margin-top: -8px;
}

.calendar .week-label,
.calendar .holiday-label {
  font-size: 10px;
  font-weight: 600;
}

/*
 * ─[ Cava ]─────────────────────────────────────────────────────────────
 */
.cava-widget {
  background-color: var(--surface0);
  padding: 0 4px;
  border-radius: 6px;
  border: 1px solid var(--surface2);
}

/*
 * ╾╼ Panel Grouper ╾─────────────────────────────────────────────────╼
*/
.panel-grouper .container {
  background-color: var(--surface0);
  border: 1px solid var(--surface2);
  border-radius: 6px;
  padding: 0 4px;
  margin-left: 4px;
}

/*
 * ─[ Memory ]───────────────────────────────────────────────────────────
 */
.memory-widget {
  padding: 0 2px 0 0;
}

.memory-widget .label {
  color: var(--text);
}

.memory-widget .label.status-critical {
  color: var(--red);
}

.memory-widget .label:hover {
  color: var(--pink);
}

.memory-widget .progress-circle {
  padding: 0 2px 0 0;
}

/*
 * ─[ CPU ]───────────────────────────────────────────────────────────
 */
.cpu-widget {
  padding: 0 2px;
}

.cpu-widget .label {
  color: var(--text);
}

.cpu-widget .label.status-critical {
  color: var(--red);
}

.cpu-widget .label:hover {
  color: var(--pink);
}

.cpu-widget .progress-circle {
  padding: 0 2px 0 0;
}

/*
 * ─[ Weather ]──────────────────────────────────────────────────────────
 */
.weather-widget .icon {
  color: var(--yellow);
  font-size: 12px;
  padding: 0 2px 0 3px;
}

.weather-widget .label {
  color: var(--text);
}

.weather-widget .label:hover {
  color: var(--pink);
}

.weather-card {
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-radius: 6px;
}

.weather-card-today {
  border: 1px solid var(--surface2);
  border-radius: 8px;
  background-color: rgba(17, 17, 27, 0.2);
}

.weather-card-today .label {
  font-size: 12px;
}

.weather-card-today .label.location {
  font-size: 24px;
  font-weight: 700;
}

.weather-card-today .label.alert {
  font-size: 12px;
  font-weight: 700;
  background-color: var(--yellow);
  border: 1px solid var(--surface2);
  color: var(--text);
  border-radius: 6px;
  padding: 5px 0;
}

.weather-card-day {
  border: 1px solid var(--surface2);
  border-radius: 8px;
  background-color: rgba(17, 17, 27, 0.2);
}

.weather-card-day .label {
  font-size: 12px;
}

.weather-card .hourly-container {
  border: 1px solid var(--surface2);
  background-color: var(--sapphire);
  border-radius: 8px;
  min-height: 150px;
}

.weather-card .hourly-data {
  background-color: var(--yellow);
  color: var(--text);
  font-size: 12px;
  font-weight: bold;
}

/*
 * ╾╼ Control Grouper ╾─────────────────────────────────────────────────╼
*/
.control-grouper .container {
  background-color: var(--surface0);
  border: 1px solid var(--surface2);
  border-radius: 6px;
  padding: 0 4px;
  margin: 0 4px;
}

/*
 * ─[ Systray ]──────────────────────────────────────────────────────────
 */
.systray .pinned-container {
  padding-right: 2px;
}

.systray .pinned-container[forceshow="true"] {
  background: var(--surface0);
}

.systray .button {
  border-radius: 4px;
  padding: 1px 0;
}

.systray .button:hover {
  background-color: rgba(205, 214, 244, 0.2);
}

.systray .button[dragging="true"] {
  background-color: var(--overlay0);
  border: 1px solid var(--subtext0);
}

.systray .unpinned-container {
  padding-right: 0px;
}

.systray .unpinned-visibility-btn {
  border: none;
  margin-left: 1px;
  padding: 1px 4px 0 0;
}

.systray .unpinned-visibility-btn:checked {
  background: var(--surface0);
}

.systray .unpinned-visibility-btn:hover {
  color: var(--pink);
}

/*
 * ─[ Wallpaper Widget ]─────────────────────────────────────────────────
 */
.wallpapers-widget {
  padding: 0 2px;
}

.wallpapers-widget .icon {
  color: var(--peach);
  font-size: 12px;
}

/*
 * ─[ Wallpaper Gallery ]────────────────────────────────────────────────
 */
.wallpapers-gallery-window {
  background-color: rgba(17, 17, 27, 0.2);
}

.wallpapers-gallery-image {
  border: 4px solid transparent;
  border-radius: 5px;
}

.wallpapers-gallery-image:hover {
  border: 4px solid var(--teal);
}

.wallpapers-gallery-image.focused {
  border: 4px solid var(--sky);
}

/*
 * ─[ Wifi ]─────────────────────────────────────────────────────────────
 */
.wifi-widget {
  padding: 0 2px;
}

.wifi-widget .icon {
  color: var(--sky);
  font-size: 12px;
}

.wifi-widget .label {
  color: var(--text);
  padding: 0 0 0 2px;
}

.wifi-widget .label:hover {
  color: var(--pink);
}

.wifi-menu {
  font-family: "JetBrainsMono NFP";
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-radius: 6px;
  max-height: 350px;
  min-height: 375px;
  min-width: 375px;
}

.wifi-menu .progress-bar {
  max-height: 2px;
  border-left: 1px solid var(--sky);
  border-right: 1px solid var(--sky);
}

.wifi-menu .progress-bar::chunk {
  background-color: var(--sky);
}

.wifi-menu .header {
  font-family: "JetBrainsMono NFP";
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: white;
  border-bottom: 1px solid rgba(205, 214, 244, 0.1);
}

.wifi-menu .error-message {
  font-family: "JetBrainsMono NFP";
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 12px;
  background-color: var(--red);
  border-left: 1px solid var(--sky);
  border-right: 1px solid var(--sky);
  color: white;
  border-bottom: 1px solid rgba(205, 214, 244, 0.1);
}

.wifi-menu .wifi-list {
  background-color: transparent;
  border-left: 1px solid var(--sky);
  margin-right: 3px;
}

.wifi-menu .wifi-item {
  min-height: 32px;
  padding: 2px 12px;
  margin: 2px 4px;
}

.wifi-menu .wifi-item:hover {
  background-color: rgba(69, 71, 90, 0.5);
  border-radius: 6px;
}

.wifi-menu .wifi-item[active="true"] {
  background-color: rgba(69, 71, 90, 0.9);
  font-size: 12px;
  border-radius: 6px;
  min-height: 80px;
}

.wifi-menu .wifi-item .icon {
  font-family: "Segoe Fluent Icons";
  font-size: 24px;
  margin-right: 10px;
}

.wifi-menu .wifi-item .name {
  font-family: "JetBrainsMono NFP";
  font-size: 12px;
  margin-right: 10px;
}

.wifi-menu .wifi-item .password {
  font-family: "JetbrainsMono NFP";
  background-color: transparent;
  font-size: 12px;
}

.wifi-menu .wifi-item .status {
  font-family: "JetbrainsMono NFP";
  font-size: 12px;
}

.wifi-menu .wifi-item .strength {
  font-family: "JetbrainsMono NFP";
  font-size: 10px;
}

.wifi-menu .wifi-item .controls-container {
  padding-top: 8px;
}

.wifi-menu .wifi-item .connect {
  background-color: rgba(205, 214, 244, 0.15);
  padding: 4px 30px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}

.wifi-menu .wifi-item .connect:hover {
  background-color: rgba(205, 214, 244, 0.2);
}

.wifi-menu .wifi-item .connect:pressed {
  background-color: rgba(205, 214, 244, 0.3);
}

.wifi-menu .footer {
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  margin-top: 2px;
  color: #9399b2;
  border: 1px solid var(--sky);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: rgba(17, 17, 27, 0.9);
  border-top: 1px solid rgba(205, 214, 244, 0.1);
}

.wifi-menu .footer .settings-button {
  font-family: "JetbrainsMono NFP";
  background-color: transparent;
  border: none;
  padding: 0 2px;
  min-width: 26px;
  min-height: 26px;
  color: var(--text);
}

.wifi-menu .footer .refresh-icon {
  font-family: "Segoe Fluent Icons";
  background-color: transparent;
  border: none;
  min-width: 26px;
  min-height: 26px;
  color: var(--text);
}

.wifi-menu .footer .refresh-icon:hover {
  background-color: rgba(205, 214, 244, 0.1);
  border-radius: 4px;
}

/*
 * ─[ Volume ]───────────────────────────────────────────────────────────
 */
.volume-widget .icon {
  color: var(--teal);
  font-size: 12px;
  padding: 0 2px;
}

.volume-widget .label {
  color: var(--text);
}

.volume-slider {
  border: none;
}

.audio-menu {
  background-color: rgba(17, 17, 27, 0.9);
  border: 1px solid var(--sky);
  border-radius: 6px;
}

.audio-container .device {
  background-color: transparent;
  border: none;
  padding: 6px 8px 6px 4px;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 4px;
}

.audio-container .device.selected {
  background-color: rgba(205, 214, 244, 0.085);
}

.audio-container .device:hover {
  background-color: rgba(205, 214, 244, 0.06);
}

/*
 * ─[ Notification ]─────────────────────────────────────────────────────
 */
.notification-widget {
  padding: 0 0 0 2px;
}

.notification-widget .icon {
  font-size: 12px;
  color: var(--blue);
}

.notification-widget .label {
  background-color: var(--red);
  color: var(--base);
  font-size: 7px;
  border-radius: 3px;
  position: absolute;
  padding: 1px;
  margin: 3px 0 8px 0;
}

/*
* ─[ Power Menu ]───────────────────────────────────────────────────────
*/
.power-menu-widget {
  background-color: var(--surface0);
  padding: 1px;
  border-radius: 6px;
  border: 1px solid var(--surface2);
}

.power-menu-widget .label {
  color: var(--red);
  font-weight: bold;
  font-size: 13px;
  padding: 0 4px;
  border-radius: 4px;
}

.power-menu-widget .label:hover {
  background-color: rgba(205, 214, 244, 0.2);
}

.power-menu-popup {
  background-color: transparent;
}

.power-menu-popup .button {
  padding: 0;
  width: 180px;
  height: 230px;
  border-radius: 8px;
  background-color: var(--crust);
  color: var(--text);
  border: 4px solid rgba(58, 59, 83, 0);
  margin: 0px;
}

.power-menu-popup .button.hover {
  background-color: var(--base);
  border: 4px solid var(--base);
}

.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--overlay2);
}

.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 32px;
  color: var(--surface2);
}

.power-menu-popup .button.cancel .icon {
  padding: 0;
  margin: 0;
}

.power-menu-popup .button.cancel .label {
  color: var(--red);
  margin: 0;
}

.power-menu-popup .button.cancel {
  height: 32px;
  border-radius: 8px;
}

.uptime {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--surface2);
  font-weight: 600;
}
