{{- $email := promptStringOnce . "email" "What is your email address? " -}}
{{- $name := promptStringOnce . "name" "What is your name? " -}}

{{- $isWSL := (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  isWSL = {{ $isWSL | toToml }}
  {{- if .isWSL }}
  {{- $windowsUsername := promptStringOnce . "windowsUsername" "What is your Windows username? " }}
  windowsUsername = {{ $windowsUsername | quote }}
  {{- end }}

[merge]
  command = "nvim"
  args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]
