{{- $gitEmail := promptStringOnce . "email" "What is your git email address" -}}
{{- $gitUsername := promptStringOnce . "name" "What is your git username" -}}

{{- $isWSL := (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

[data]
  gitEmail = {{ $gitEmail | quote }}
  gitUsername = {{ $gitUsername | quote }}
  isWSL = {{ $isWSL | toToml }}
  {{- if .isWSL }}
  {{- $windowsUsername := promptStringOnce . "windowsUsername" "What is your Windows username? " }}
  windowsUsername = {{ $windowsUsername | quote }}
  {{- end }}

[merge]
  command = "nvim"
  args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]

[diff]
  pager = "delta"
