#!/usr/bin/env zsh
#                                       ███ ██ ███
#                                      ██░ ░░ ░░██
#      ██████ ██████  ██████  █████   ░██   ██ ░██   █████
#     ░░░░██ ░██░░░██░░██░░█ ██░░░██ ██████░██ ░██  ██░░░██
#        ██  ░██  ░██ ░██ ░ ░██  ░██░░░██░ ░██ ░██ ░███████
#       ██   ░██████  ░██   ░██  ░██  ░██  ░██ ░██ ░██░░░░
#  ██  ██████░██░░░   ███   ░░█████   ░██  ░██ ░██ ░░█████
# ░░  ░░░░░░ ░██     ░░░     ░░░░░    ░░   ░░  ░░   ░░░░░
#            ░░
#
# Executes commands at login pre-zshrc.

export WORDCHARS='*?[]~=&;!#$%^(){}<>'
export DOTFILES="$HOME/.local/share/chezmoi"

{{ if .isWSL -}}
# ╾╼ # Windows Environment Variables for WSL ╾───────────────────────────╼
export WIN_C="/mnt/c"
export WIN_D="/mnt/d"
export WIN_SYSTEM="${WIN_C}/WINDOWS/system32"
export WIN_HOME="${WIN_C}/Users/{{ .windowsUsername }}"
export SOL="${WIN_D}/UGM/Programming/Comprog/sol.cpp"
{{- end }}

# ╾╼ Functions ╾─────────────────────────────────────────────────────────╼
has() { command -v "$1" > /dev/null; }
safe_export_path() { [[ -d $1 ]] && export PATH=$1:$PATH; }

typeset -gU path fpath

safe_export_path "$HOME/.local/bin"
{{ if .isWSL -}}
safe_export_path "$WIN_SYSTEM"
{{- end }}

if has nvim; then
  export EDITOR="nvim"
  export VISUAL="$EDITOR"
else
  export EDITOR="vim"
fi

if has go; then
  export GOPATH="$HOME/code/go"
  safe_export_path "$GOPATH/bin"
fi

if has cargo; then
  export CARGO_HOME="$HOME/.cargo"
  safe_export_path "$CARGO_HOME/bin"
fi

export BUN_INSTALL="$HOME/.bun"
safe_export_path "$BUN_INSTALL/bin"
