colourful: true

filekinds:
  normal:     { foreground: "{{ .colors.blue }}" }
  directory:  { foreground: "{{ .colors.blue }}", is_bold: true }
  symlink:    { foreground: "{{ .colors.sky }}" }
  executable: { foreground: "{{ .colors.green }}" }

perms:
  user_read:          { foreground: "{{ .colors.yellow }}", is_bold: true }
  user_write:         { foreground: "{{ .colors.red }}",    is_bold: true }
  user_execute_file:  { foreground: "{{ .colors.green }}",  is_bold: true }
  user_execute_other: { foreground: "{{ .colors.green }}",  is_bold: true }
  group_read:         { foreground: "{{ .colors.yellow }}" }
  group_write:        { foreground: "{{ .colors.red }}" }
  group_execute:      { foreground: "{{ .colors.green }}" }
  other_read:         { foreground: "{{ .colors.yellow }}" }
  other_write:        { foreground: "{{ .colors.red }}" }
  other_execute:      { foreground: "{{ .colors.green }}" }

filenames:
  .bash_history:
    filename: { foreground: "{{ .colors.overlay1 }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.overlay1 }}" } }
  .bash_logout:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.green }}" } }
  .bash_profile:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.green }}" } }
  .bashrc:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰒓, style: { foreground: "{{ .colors.green }}" } }
  .chezmoiignore:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  .chezmoiignore.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  .chezmoiremove:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  .chezmoiroot:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  .chezmoiversion:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  .eslintrc.js:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰱺, style: { foreground: "{{ .colors.yellow }}" } }
  .git:
    filename: { foreground: "{{ .colors.blue }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.blue }}" } }
  .gitconfig:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰊢, style: { foreground: "{{ .colors.peach }}" } }
  .gitkeep:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰊢, style: { foreground: "{{ .colors.red }}" } }
  .histfile:
    filename: { foreground: "{{ .colors.overlay1 }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.overlay1 }}" } }
  .keep:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰊢, style: { foreground: "{{ .colors.text }}" } }
  .mailmap:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰊢, style: { foreground: "{{ .colors.teal }}" } }
  .node-version:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.green }}" } }
  .node_repl_history:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.green }}" } }
  .npmignore:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰒓, style: { foreground: "{{ .colors.text }}" } }
  .nvmrc:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰒓, style: { foreground: "{{ .colors.green }}" } }
  .prettierignore:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.peach }}" } }
  .prettierrc:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.mauve }}" } }
  .profile:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  .tabiew_history:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱈝, style: { foreground: "{{ .colors.green }}" } }
  .wget-hsts:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.blue }}" } }
  .wslconfig:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰒓, style: { foreground: "{{ .colors.text }}" } }
  .yarnrc.yml:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.blue }}" } }
  .zcompdump:
    filename: { foreground: "{{ .colors.yellow }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.yellow }}" } }
  .zprofile:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.green }}" } }
  # HACK:
  # overriding zsh extention will make folder named .zsh also uses the icon defined in the
  # extension override, as we cant have .zsh as a filename, define it as a folder
  .zsh:
    filename: { foreground: "{{ .colors.blue }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.blue }}" } }
  .zshenv:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.green }}" } }
  .zshrc:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰒓, style: { foreground: "{{ .colors.green }}" } }
  CHANGELOG:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰉻, style: { foreground: "{{ .colors.blue }}" } }
  CHANGELOG.md:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰉻, style: { foreground: "{{ .colors.blue }}" } }
  CMakeCache.txt:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱁤, style: { foreground: "{{ .colors.red }}" } }
  CMakeLists.txt:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱁤, style: { foreground: "{{ .colors.peach }}" } }
  CODEOWNERS:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰜻, style: { foreground: "{{ .colors.mauve }}" } }
  CODE_OF_CONDUCT:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱃱, style: { foreground: "{{ .colors.red }}" } }
  CODE_OF_CONDUCT.md:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱃱, style: { foreground: "{{ .colors.red }}" } }
  CONTRIBUTING:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰺾, style: { foreground: "{{ .colors.sapphire }}" } }
  CONTRIBUTING.md:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰺾, style: { foreground: "{{ .colors.sapphire }}" } }
  Desktop:
    filename: { foreground: "{{ .colors.blue }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.blue }}" } }
  Documents:
    filename: { foreground: "{{ .colors.blue }}" }
    icon: { glyph: 󱧶, style: { foreground: "{{ .colors.blue }}" } }
  FUNDING.yml:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰇁, style: { foreground: "{{ .colors.green }}" } }
  GNUmakefile.am:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱁤, style: { foreground: "{{ .colors.mauve }}" } }
  LICENSE:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.teal }}" } }
  LICENSE.md:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.teal }}" } }
  LICENSE.txt:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.teal }}" } }
  Makefile.am:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱁤, style: { foreground: "{{ .colors.mauve }}" } }
  NEWS:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰎕, style: { foreground: "{{ .colors.blue }}" } }
  NEWS.md:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰎕, style: { foreground: "{{ .colors.blue }}" } }
  PKGBUILD:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.yellow }}" } }
  README:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰂺, style: { foreground: "{{ .colors.yellow }}" } }
  README.md:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰂺, style: { foreground: "{{ .colors.yellow }}" } }
  README.txt:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰂺, style: { foreground: "{{ .colors.yellow }}" } }
  TODO:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰝖, style: { foreground: "{{ .colors.mauve }}" } }
  TODO.md:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰝖, style: { foreground: "{{ .colors.mauve }}" } }
  Videos:
    filename: { foreground: "{{ .colors.blue }}" }
    icon: { glyph: 󱧺, style: { foreground: "{{ .colors.blue }}" } }
  bun.lock:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.rosewater }}" } }
  constraints.txt:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱘎, style: { foreground: "{{ .colors.mauve }}" } }
  devcontainer.json:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.sapphire }}" } }
  dot_gitconfig.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  dot_zprofile.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  dot_zshenv:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  dot_zshenv.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  dot_zshrc.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  eslint.config.js:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰱺, style: { foreground: "{{ .colors.yellow }}" } }
  go.sum:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰟓, style: { foreground: "{{ .colors.teal }}" } }
  go.work.sum:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰟓, style: { foreground: "{{ .colors.teal }}" } }
  makefile.am:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱁤, style: { foreground: "{{ .colors.mauve }}" } }
  meson_options.txt:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰫺, style: { foreground: "{{ .colors.blue }}" } }
  package.json:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.green }}" } }
  requirements.txt:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱘎, style: { foreground: "{{ .colors.mauve }}" } }
  robots.txt:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰚩, style: { foreground: "{{ .colors.text }}" } }
  setup.cfg:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰯂, style: { foreground: "{{ .colors.sapphire }}" } }
  tsconfig.build.json:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.sapphire }}" } }
  tsconfig.json:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.sapphire }}" } }
  yarn.lock:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.blue }}" } }

extensions:
  3gp:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈫, style: { foreground: "{{ .colors.yellow }}" } }
  7z:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.blue }}" } }
  aac:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈣, style: { foreground: "{{ .colors.yellow }}" } }
  aif:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈣, style: { foreground: "{{ .colors.teal }}" } }
  avi:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈫, style: { foreground: "{{ .colors.text }}" } }
  appx:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰏖, style: { foreground: "{{ .colors.yellow }}" } }
  astro:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.peach }}" } }
  bak:
    filename: { foreground: "{{ .colors.overlay1 }}" }
    icon: { glyph: 󰁯, style: { foreground: "{{ .colors.overlay1 }}" } }
  bash:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.green }}" } }
  bash.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  bmp:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈟, style: { foreground: "{{ .colors.green }}" } }
  bz:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.peach }}" } }
  bz2:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.peach }}" } }
  bz3:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.peach }}" } }
  c:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.sapphire }}" } }
  cast:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈫, style: { foreground: "{{ .colors.red }}" } }
  cer:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱆈, style: { foreground: "{{ .colors.yellow }}" } }
  class:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰬷, style: { foreground: "{{ .colors.sapphire}}" } }
  cpp:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.sapphire }}" } }
  css:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.mauve }}" } }
  csv:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.green }}" } }
  dll:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.yellow }}" } }
  doc:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎒, style: { foreground: "{{ .colors.sapphire }}" } }
  docm:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎒, style: { foreground: "{{ .colors.sapphire }}" } }
  docx:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎒, style: { foreground: "{{ .colors.sapphire }}" } }
  dot:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎒, style: { foreground: "{{ .colors.sapphire }}" } }
  dotx:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎒, style: { foreground: "{{ .colors.sapphire }}" } }
  eps:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.red }}" } }
  exe:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰖳, style: { foreground: "{{ .colors.red }}" } }
  exs:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.mauve }}" } }
  flac:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈣, style: { foreground: "{{ .colors.peach }}" } }
  gif:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰵸, style: { foreground: "{{ .colors.sapphire }}" } }
  gz:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.text }}" } }
  h:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰬏, style: { foreground: "{{ .colors.mauve }}" } }
  ini:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰒓, style: { foreground: "{{ .colors.blue }}" } }
  ipynb:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰠮, style: { foreground: "{{ .colors.peach }}" } }
  java:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰬷, style: { foreground: "{{ .colors.peach }}" } }
  jpeg:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈥, style: { foreground: "{{ .colors.peach }}" } }
  jpg:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈥, style: { foreground: "{{ .colors.peach }}" } }
  json.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  kml:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰦂, style: { foreground: "{{ .colors.green }}" } }
  lua:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰢱, style: { foreground: "{{ .colors.sapphire }}" } }
  luau:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰢱, style: { foreground: "{{ .colors.green }}" } }
  log:
    filename: { foreground: "{{ .colors.overlay1 }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.overlay1 }}" } }
  lnk:
    filename: { foreground: "{{ .colors.pink }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.pink }}" } }
  m4a:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈣, style: { foreground: "{{ .colors.mauve }}" } }
  m4v:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈫, style: { foreground: "{{ .colors.peach }}" } }
  mkv:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈫, style: { foreground: "{{ .colors.green }}" } }
  mov:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈫, style: { foreground: "{{ .colors.teal }}" } }
  mp3:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈣, style: { foreground: "{{ .colors.sapphire }}" } }
  mp4:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈫, style: { foreground: "{{ .colors.sapphire }}" } }
  mpeg:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈫, style: { foreground: "{{ .colors.mauve }}" } }
  mpg:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈫, style: { foreground: "{{ .colors.mauve }}" } }
  msi:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰖳, style: { foreground: "{{ .colors.red }}" } }
  nss:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰒓, style: { foreground: "{{ .colors.red }}" } }
  nu:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.green }}" } }
  nu.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  ogg:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈣, style: { foreground: "{{ .colors.text }}" } }
  ovpn:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰖂, style: { foreground: "{{ .colors.peach }}" } }
  pdf:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈦, style: { foreground: "{{ .colors.red }}" } }
  php:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰌟, style: { foreground: "{{ .colors.lavender }}" } }
  png:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰸭, style: { foreground: "{{ .colors.mauve }}" } }
  pps:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎐, style: { foreground: "{{ .colors.red }}" } }
  ppsm:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎐, style: { foreground: "{{ .colors.red }}" } }
  ppsx:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎐, style: { foreground: "{{ .colors.red }}" } }
  ppt:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎐, style: { foreground: "{{ .colors.red }}" } }
  pptm:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎐, style: { foreground: "{{ .colors.red }}" } }
  pptx:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎐, style: { foreground: "{{ .colors.red }}" } }
  ps1.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰨊, style: { foreground: "{{ .colors.text }}" } }
  py:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰌠, style: { foreground: "{{ .colors.yellow }}" } }
  purs:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  rar:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.green }}" } }
  rdp:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.teal }}" } }
  rpm:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.red }}" } }
  sh:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.green }}" } }
  sh.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  sit:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.red }}" } }
  snd:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈣, style: { foreground: "{{ .colors.red }}" } }
  tar:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.teal }}" } }
  tf:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱁢, style: { foreground: "{{ .colors.blue }}" } }
  tgz:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.text }}" } }
  theme:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰥶, style: { foreground: "{{ .colors.teal }}" } }
  tif:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈟, style: { foreground: "{{ .colors.yellow }}" } }
  tiff:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈟, style: { foreground: "{{ .colors.yellow }}" } }
  toml:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.peach }}" } }
  toml.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  ts:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.sapphire }}" } }
  tsx:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.sapphire }}" } }
  txt:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰦪, style: { foreground: "{{ .colors.yellow }}" } }
  txz:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.mauve }}" } }
  typ:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.sapphire }}" } }
  wav:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈣, style: { foreground: "{{ .colors.green }}" } }
  webm:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈫, style: { foreground: "{{ .colors.text }}" } }
  webp:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈟, style: { foreground: "{{ .colors.blue }}" } }
  wma:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈣, style: { foreground: "{{ .colors.blue }}" } }
  wmv:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰈫, style: { foreground: "{{ .colors.blue }}" } }
  xls:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎏, style: { foreground: "{{ .colors.green }}" } }
  xlsm:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎏, style: { foreground: "{{ .colors.green }}" } }
  xlsx:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎏, style: { foreground: "{{ .colors.green }}" } }
  xlt:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎏, style: { foreground: "{{ .colors.green }}" } }
  xltm:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎏, style: { foreground: "{{ .colors.green }}" } }
  xltx:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󱎏, style: { foreground: "{{ .colors.green }}" } }
  xz:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.green }}" } }
  yaml:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.mauve }}" } }
  yaml.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  yml:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.mauve }}" } }
  yml.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  z:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.text }}" } }
  zip:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.sapphire }}" } }
  zsh:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.green }}" } }
  zsh.tmpl:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.text }}" } }
  zst:
    filename: { foreground: "{{ .colors.text }}" }
    icon: { glyph: 󰗄, style: { foreground: "{{ .colors.yellow }}" } }
  zwc:
    filename: { foreground: "{{ .colors.yellow }}" }
    icon: { glyph: , style: { foreground: "{{ .colors.yellow }}" } }
